[submodule "systemd-git"]
	path = systemd-git
	url = https://aur.archlinux.org/systemd-git.git
[submodule "yay-git"]
	path = yay-git
	url = https://aur.archlinux.org/yay-git.git
[submodule "rpi-eeprom"]
	path = rpi-eeprom
	url = https://aur.archlinux.org/rpi-eeprom.git
[submodule "pandoc-bin"]
	path = pandoc-bin
	url = https://aur.archlinux.org/pandoc-bin.git
[submodule "linux-raspberrypi4-aarch64"]
	path = linux-raspberrypi4-aarch64
	url = https://aur.archlinux.org/linux-raspberrypi4-aarch64.git
